# 忽略VS生成的临时文件和用户设置
.vs/
.vscode/
VerifyServer/config.json

# 忽略Debug文件夹
build-ChatClient-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/
debug/
bin/
release/
.qmake.stash

# 忽略编译输出
x64/

# 忽略Visual Studio项目文件中的用户特定设置
*.vcxproj.user

# 忽略Qt Creator的用户特定设置文件
*.pro.user

# 忽略 node_modules 目录
node_modules/

# 忽略静态库（todo）还没完成
CommonLib/
# 忽略TcpTestClient
TcpTestClient/

# 忽略vs2022的qt构建输出
# 忽略自动生成的 UI 头文件
ui_*.h

# 忽略 ChatClient 项目中的特定文件和目录 
ChatClient/bin/ 
ChatClient/debug/ 
ChatClient/release/ 
ChatClient/.qmake.stash 
ChatClient/ChatClient.pro.user
ChatClient/ChatClient_resource.rc
ChatClient/ChatClient.qtvscr
ChatClient/ChatClient.sln
ChatClient/ChatClient.vcxproj
ChatClient/ChatClient.vcxproj.filters
