QDialog#LoginDialog {
    background-color: rgb(255, 255, 255)
}

/* 注册界面的提示框 */
#tip_label,
#err_tip[state='normal'] {
    color: green;
}

#tip_label,
#err_tip[state='error'] {
    color: red;
}

/* 图标来控制密码的显示和隐藏 */
#pass_visible[state='unvisible'] {
    border-image: url(:/images/unvisible.png);
}

#pass_visible[state='unvisible_hover'] {
    border-image: url(:/images/unvisible_hover.png);
}

#pass_visible[state='unvisible_press'] {
    border-image: url(:/images/unvisible_press.png);
}

#pass_visible[state='visible'] {
    border-image: url(:/images/visible.png);
}

#pass_visible[state='visible_hover'] {
    border-image: url(:/images/visible_hover.png);
}

#pass_visible[state='visible_press'] {
    border-image: url(:/images/visible_press.png);
}

#confirm_visible[state='unvisible'] {
    border-image: url(:/images/unvisible.png);
}

#confirm_visible[state='unvisible_hover'] {
    border-image: url(:/images/unvisible_hover.png);
}

#confirm_visible[state='unvisible_press'] {
    border-image: url(:/images/unvisible_press.png);
}

#confirm_visible[state='visible'] {
    border-image: url(:/images/visible.png);
}

#confirm_visible[state='visible_hover'] {
    border-image: url(:/images/visible_hover.png);
}

#confirm_visible[state='visible_press'] {
    border-image: url(:/images/visible_press.png);
}

/* 登录页面忘记密码 */
#forget_label[state='normal'],
#forget_label[state='selected'] {
    color: black;
}

#forget_label[state='hover'],
#forget_label[state='selected_hover'] {
    color: rgb(42, 112, 241);
}

#forget_label[state='press'],
#forget_label[state='selected_press'] {
    color: lightblue;
}

/* 聊天页面侧边栏 */
#side_bar {
    background-color: rgb(46, 46, 46);
}

/* 聊天页面添加好友按钮 */
#add_btn[state="normal"] {
    border-image: url(:/images/add_friend_normal.png);
}

#add_btn[state="hover"] {
    border-image: url(:/images/add_friend_hover.png);
}

#add_btn[state="press"] {
    border-image: url(:/images/add_friend_press.png);
}

/* 聊天页面搜索好友控件 */
#search_widget {
    background-color: rgb(247, 247, 247);
}

#search_edit {
    border: 2px solid #f1f1f1;
}

/* 聊天页面list控件 */
#user_widget {
    background-color: rgb(0, 0, 0);
}

#chatting_list {
    background-color: rgb(247, 247, 248);
    border: none;
}

#chatting_list::item:selected {
    background-color: #d3d7d4;
    border: none;
    outline: none;
}

#chatting_list::item:hover {
    background-color: rgb(206, 207, 208);
    border: none;
    outline: none;
}

#chatting_list::focus {
    border: none;
    outline: none;
}

ChatUserWidget {
    background-color: rgb(247, 247, 247);
    border: none;
}

#user_chat_lb {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

#user_name_lb {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}

#time_widget#time_lb {
    color: rgb(140, 140, 140);
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

/* 整体滚动条样式 */
QScrollBar:vertical {
    background: transparent;
    width: 8px;
    margin: 0px;
}

/* 滚动条滑块样式 */
QScrollBar::handle:vertical {
    background: rgb(173, 170, 169);
    min-height: 10px;
    border-radius: 4px;
}

/* 滚动条的上下按钮 */
QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    height: 0px;
    border: none;
    background: transparent;
}

/* 滚动条的页面部分 */
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}

/* 聊天页面工具栏和发送栏 */
#emo_lb[state='normal'] {
    border-image: url(:/images/emo.png);
}

#emo_lb[state='hover'] {
    border-image: url(:/images/emo_hover.png);
}

#emo_lb[state='press'] {
    border-image: url(:/images/emo_press.png);
}

#file_lb[state='normal'] {
    border-image: url(:/images/folder.png);
}

#file_lb[state='hover'] {
    border-image: url(:/images/folder_hover.png);
}

#file_lb[state='press'] {
    border-image: url(:/images/folder_press.png);
}

#send_widget {
    background: #ffffff;
    border: none;
}

#receive_btn[state='normal'] {
    background: #f0f0f0;
    color: #2cb46e;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;
}

#receive_btn[state='hover'] {
    background: #d2d2d2;
    color: #2cb46e;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;
}

#receive_btn[state='press'] {
    background: #c6c6c6;
    color: #2cb46e;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;
}

#send_btn[state='normal'] {
    background: #f0f0f0;
    color: #2cb46e;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;
}

#send_btn[state='hover'] {
    background: #d2d2d2;
    color: #2cb46e;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;
}

#send_btn[state='press'] {
    background: #c6c6c6;
    color: #2cb46e;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;
}

#tool_widget {
    background: #ffffff;
    border-top: 0.5px solid #ececec;
}

#title_widget {
    background: #ffffff;
    border-bottom: 0.5px solid #ececec;
}

#chat_edit {
    background: #ffffff;
    border: none;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    padding: 5px;
}

#chat_bg {
    background: #ffffff;
    border: none;
}

/* 聊天气泡 */
.TextBubble QTextEdit {
    background: transparent;
    border: none;
}

/* 聊天主窗口侧边栏 */
#side_chat_lb[state='normal'] {
    border-image: url(:/images/chat_icon.png);
}

#side_chat_lb[state='hover'] {
    border-image: url(:/images/chat_icon_hover.png);
}

#side_chat_lb[state='pressed'] {
    border-image: url(:/images/chat_icon_press.png);
}

#side_chat_lb[state='selected_normal'] {
    border-image: url(:/images/chat_icon_press.png);
}

#side_chat_lb[state='selected_hover'] {
    border-image: url(:/images/chat_icon_press.png);
}

#side_chat_lb[state='selected_pressed'] {
    border-image: url(:/images/chat_icon_press.png);
}

#side_contacts_lb[state='normal'] {
    border-image: url(:/images/contact_list.png);
}

#side_contacts_lb[state='hover'] {
    border-image: url(:/images/contact_list_hover.png);
}

#side_contacts_lb[state='pressed'] {
    border-image: url(:/images/contact_list_press.png);
}

#side_contacts_lb[state='selected_normal'] {
    border-image: url(:/images/contact_list_press.png);
}

#side_contacts_lb[state='selected_hover'] {
    border-image: url(:/images/contact_list_press.png);
}

#side_contacts_lb[state='selected_pressed'] {
    border-image: url(:/images/contact_list_press.png);
}

#red_point {
    border-image: url(:/images/red_point.png);
}

/* 搜索列表 */
#search_edit {
    border: 2px solid #f1f1f1;
}

/* 搜索框列表*/
#search_list {
    background-color: rgb(247, 247, 248);
    border: none;
}

#search_list::item:selected {
    background-color: #d3d7d4;
    border: none;
    outline: none;
}

#search_list::item:hover {
    background-color: rgb(206, 207, 208);
    border: none;
    outline: none;
}

#search_list::focus {
    border: none;
    outline: none;
}

#invalid_item {
    background-color: #eaeaea;
    border: none;
}

#add_tip {
    border-image: url(:/images/addtip.png);
}

#right_tip {
    border-image: url(:/images/right_tip.png);
}

#message_tip {
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size: 12pt;
}

/* 好友申请弹窗界面 */
#ApplyFriend {
    border: 2px solid #f1f1f1;
    font-size: 14px;
    background: #f7f7f8;
}

#scrollArea {
    background: #f7f7f8;
    border: none;
}

#scrollcontent {
    background: #f7f7f8;
}

#scrollcontent #apply_lb {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    font-weight: normal;
}

#apply_wid QLabel {
    color: rgb(140, 140, 140);
    font-size: 14px;
    font-family: "Microsoft YaHei";
    height: 25px;
}

#apply_wid #name_ed,
#apply_wid #back_ed {
    border: 1px solid #f7f7f8;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#apply_wid #lb_ed {
    border: none;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#apply_wid #more_lb {
    border-image: url(:/images/arowdown.png);
}

#apply_wid #tipslb[state='normal'] {
    padding: 2px;
    background: #e1e1e1;
    color: #1e1e1e;
    border-radius: 10px;
}

#apply_wid #tipslb[state='hover'] {
    padding: 2px;
    background: #e1e1e1;
    color: #1e1e1e;
    border-radius: 10px;
}

#apply_wid #tipslb[state='pressed'] {
    padding: 2px;
    background: #e1e1e1;
    color: #48bf56;
    border-radius: 10px;
}

#apply_wid #tipslb[state='selected_normal'] {
    padding: 2px;
    background: #e1e1e1;
    color: #48bf56;
    border-radius: 10px;
}

#apply_wid #tipslb[state='selected_hover'] {
    padding: 2px;
    background: #e1e1e1;
    color: #48bf56;
    border-radius: 10px;
}

#apply_wid #tipslb[state='selected_pressed'] {
    padding: 2px;
    background: #e1e1e1;
    color: #1e1e1e;
    border-radius: 10px;
}

#input_tip_wid {
    background: #d3eaf8;
}

#apply_wid #FriendLabel {
    background: #daf6e7;
    color: #48bf56;
    border-radius: 10px;
}

#apply_wid #tip_lb {
    padding-left: 2px;
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#gridWidget {
    background: #fdfdfd;
}

#close_lb[state='normal'] {
    border-image: url(:/images/tipclose.png);
}

#close_lb[state='hover'] {
    border-image: url(:/images/tipclose.png);
}

#close_lb[state='pressed'] {
    border-image: url(:/images/tipclose.png);
}

#close_lb[state='select_normal'] {
    border-image: url(:/images/tipclose.png);
}

#close_lb[state='select_hover'] {
    border-image: url(:/images/tipclose.png);
}

#close_lb[state='select_pressed'] {
    border-image: url(:/images/tipclose.png);
}

#apply_sure_wid #sure_btn[state='normal'] {
    background: #f0f0f0;
    color: #2cb46e;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;
}

#apply_sure_wid #sure_btn[state='hover'] {
    background: #d2d2d2;
    color: #2cb46e;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;
}

#apply_sure_wid #sure_btn[state='press'] {
    background: #c6c6c6;
    color: #2cb46e;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;
}

#apply_sure_wid #cancel_btn[state='normal'] {
    background: #f0f0f0;
    color: #2e2f30;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;
}

#apply_sure_wid #cancel_btn[state='hover'] {
    background: #d2d2d2;
    color: #2e2f30;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;
}

#apply_sure_wid #cancel_btn[state='press'] {
    background: #c6c6c6;
    color: #2e2f30;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;
}

/* 查找好友对话框关闭按钮 */
#fd_suc_dlg_cls_btn {
    border: none;
}

#fd_suc_dlg_cls_btn[state='normal'] {
    background-color: #c6c6c6;
}

#fd_suc_dlg_cls_btn[state='hover'] {
    background-color: #f09797;
}

#fd_suc_dlg_cls_btn[state='press'] {
    background-color: #e6263f;
}

/* 联系人页面 */
#contacts_list {
    background-color: rgb(247, 247, 248);
    border: none;
}

#contacts_list::item:selected {
    background-color: #d3d7d4;
    border: none;
    outline: none;
}

#contacts_list::item:hover {
    background-color: rgb(206, 207, 208);
    border: none;
    outline: none;
}

#contacts_list::focus {
    border: none;
    outline: none;
}

#GroupTipItem {
    background-color: #eaeaea;
    border: none;
}

#GroupTipItem QLabel {
    color: #2e2f30;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    border: none;
}

#new_friend_item {
    border-bottom: 1px solid #eaeaea;
}

/* 好友申请界面 */
#LineItem {
    background-color: rgb(247, 247, 247);
    border: none;
}

#friend_apply_lb {
    font-family: "Microsoft YaHei";
    font-size: 18px;
    font-weight: normal;
}

#friend_apply_wid {
    background-color: #f1f2f3;
    border-bottom: 1px solid #ede9e7;
}

#apply_friend_list {
    background-color: #f1f2f3;
    border-left: 1px solid #ede9e7;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

ApplyFriendItem {
    background-color: #f1f2f3;
    border-bottom: 2px solid #dbd9d9;
}

ApplyFriendItem #user_chat_lb {
    color: #a2a2a2;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

ApplyFriendItem #addBtn[state='normal'] {
    background-color: #d3d7d4;
    color: #2cb46e;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;

}

ApplyFriendItem #addBtn[state='hover'] {
    background-color: #D3D3D3;
    color: #2cb46e;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;

}

ApplyFriendItem #addBtn[state='press'] {
    background-color: #BEBEBE;
    color: #2cb46e;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;

}

#already_add_lb {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

#user_name_lb {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}

/* 认证失败弹窗 */
#FindFailDlg {
    background-color: #ffffff;
}

#fail_tip,
#fail_tip2 {
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#fail_sure_btn[state='normal'] {
    background: #07c160;
    color: #ffffff;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;

}

#fail_sure_btn[state='hover'] {
    background: #3bbb4b;
    color: #ffffff;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;

}

#fail_sure_btn[state='press'] {
    background: #07c160;
    color: #ffffff;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    border-radius: 20px;

}

/* 好友认证界面 */
#AuthenFriend {
    border: 2px solid #f1f1f1;
    font-size: 14px;
    background: #f7f7f8;
}